.about{
    color: #94a3b8;
    background-color: transparent;
    height: 350px;
    width: 550px;
    margin-top: 20px;
    align-self: center;
    margin-right: 60px;
    font-family: 'poppins';
    font-size: 15px;
}
@media (max-width: 768px){
   .about{
        margin-top: 0px;
        margin-right:0px;
        align-self:normal;
        width: 80%;
        padding-left: 3em;
        height: auto;
       
   }

}
@media (max-width: 550px){
    .about{
        margin-left: -1rem;
    }
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');

}